In [29]:
import pandas as pd

In [30]:
tax_data = pd.read_csv('../data/rent-data.csv')

In [31]:
tax_data['repairs_percent_of_expenses'] = ((tax_data['REPAIRS AND MAINT.'] / tax_data['TOTAL EXPENSES']) * 100).astype(float)
tax_data.head()

,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10,repairs_percent_of_expenses
0,1,447,25,NaN,2021,3674.0,NaN,NaN,NaN,NaN,93074.0,96825.0,NaN,28456.0,NaN,29.389104
1,1,1079,61,NaN,2021,NaN,NaN,NaN,NaN,NaN,295046.0,15020.0,NaN,7709.0,NaN,51.324900
2,1,1000,29,NaN,2021,NaN,NaN,129305065.0,NaN,NaN,159048807.0,39952316.0,11508372.0,5936267.0,NaN,14.858380
3,1,1000,61,NaN,2021,NaN,NaN,NaN,NaN,714647.0,714647.0,1236523.0,NaN,62443.0,NaN,5.049886
4,1,1001,1001,1001.0,2021,NaN,NaN,NaN,NaN,NaN,3625614.0,296800.0,76509.0,7819.0,NaN,2.634434

In [32]:
tax_data['expenses_percent_of_income'] = ((tax_data['TOTAL EXPENSES'] / tax_data['TOTAL INCOME FROM REAL ESTATE']) * 100).astype(float)
tax_data.head()

,BORO,BLOCK,FROM_LOT,TO_LOT,FILING YEAR,REGULATED,UNREGULATED,OFFICE,OWNER/RELATED SPACE,GOV. RENTAL SUBSIDIES,TOTAL INCOME FROM REAL ESTATE,TOTAL EXPENSES,AMORTIZED LEASE AND TENANT IMP. COSTS,REPAIRS AND MAINT.,tract_10,repairs_percent_of_expenses,expenses_percent_of_income
0,1,447,25,NaN,2021,3674.0,NaN,NaN,NaN,NaN,93074.0,96825.0,NaN,28456.0,NaN,29.389104,104.030127
1,1,1079,61,NaN,2021,NaN,NaN,NaN,NaN,NaN,295046.0,15020.0,NaN,7709.0,NaN,51.324900,5.090732
2,1,1000,29,NaN,2021,NaN,NaN,129305065.0,NaN,NaN,159048807.0,39952316.0,11508372.0,5936267.0,NaN,14.858380,25.119532
3,1,1000,61,NaN,2021,NaN,NaN,NaN,NaN,714647.0,714647.0,1236523.0,NaN,62443.0,NaN,5.049886,173.025704
4,1,1001,1001,1001.0,2021,NaN,NaN,NaN,NaN,NaN,3625614.0,296800.0,76509.0,7819.0,NaN,2.634434,8.186200

In [33]:
tax_data.to_csv('../output/tax_data_analysis.csv')